{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conócenos</title>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'panammun_panel/css/color_palette.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panammun_panel/css/meet_us.css' %}">
    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Íconos-->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
    <!-- Ícono -->
    <link rel="icon" type="image/png" href="{% static 'panammun_panel/svg/icon_panammun.svg' %}">
</head>
<body>
    <h1>Programadores Panammun</h1>
    <section class="developers">
        <div class="developer-div">
            <div class="developer-info">
                <h2>Oscar Fabrizio de Alba Gutiérrez</h2>
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="https://github.com/OscarFa28" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="https://mx.linkedin.com/in/oscar-fabrizio-de-alba-guti%C3%A9rrez-244a17ab?trk=people-guest_people_search-card" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="https://www.instagram.com/o.fabrizio28/" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static 'panammun_panel/img/about_us_Oscar_F_image.png' %}" alt="">
            </div>
        </div>
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>Rogelio Salas Vargas</h2>
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="https://github.com/ROYSAVAR" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="https://www.linkedin.com/in/rogelio-salas-vargas-565587304/" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="https://www.instagram.com/roy_savar/" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static 'panammun_panel/img/roy_img.png' %}" alt="">
            </div>
        </div>
        <div class="developer-div">
            <div class="developer-info">
                <h2>Ana Paula Martínez Rico</h2>
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="https://github.com/Ana020411" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="https://www.linkedin.com/in/ana-paula-mart%C3%ADnez-3b06792b7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static 'panammun_panel/img/AnaPau.png' %}" alt="">
            </div>
        </div>
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>Arturo Reza Quezada</h2>
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static 'panammun_panel/img/silueta.png' %}" alt="">
            </div>
        </div>
    </section>
    <footer>
        <span><a href="https://www.up.edu.mx/campus-aguascalientes/">UP Aguascalientes</a></span><span><a href="https://movil.up.edu.mx/ags/ingenieria-en-inteligencia-artificial">By IIA UP Ags</a></span>
    </footer>
</body>
</html>
